language: android
android:
  components:
    - tools
    - platform-tools
    - build-tools-30.0.2

    - android-30
    - extra-google-google_play_services
    - extra-google-m2repository
    - extra-android-m2repository

  licenses:
    - 'android-sdk-preview-license-52d11cd2'
    - 'android-sdk-license-.+'
    - 'google-gdk-license-.+'

before_install:
  - chmod +x gradlew
  - yes | sdkmanager "platforms;android-30;build-tools-30.0.2"

script:
  - ./gradlew clean assembleDebug